<html lang="en">
    <header>
        <link rel="stylesheet" href="styles.css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js" type="text/javascript"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.13/backbone.localStorage-min.js" type="text/javascript"></script>
        <script src="app.js"></script>

        <script type="text/template" id="note-template">
            <div id="note">
                <b>Title</b>: <%= title %> <br />

                <b>Author</b>: <%= author %> <br />

                <b>Note</b>: <br />
                <div id="note-body">
                    <%= body %>
                </div>

                <p><button class="delete-note" type="button">Delete</button></p>
            </div>
        </script>

        <script type="text/template" id="index-template">
            <div id="index">
                <h3 class="clear">New note</h3>

                <p><input type="text" id="title" placeholder="Title"></p>
                <p><input type="text" id="author" placeholder="Author"></p>
                <p><textarea name="note" id="body" cols="60" rows="10" placeholder="Enter notes..."></textarea></p>

                <p><button class="submit" type="button">Submit</button></p>
            </div>
        </script>

        <script type="text/template" id="notes-template">
            <div id="notes">
                <h3 class="clear">Notes</h3>

                <ul id="notes-list">
                </ul>
            </div>
        </script>

        <h1>Note Taker</h1>
    </header>
    
    <nav>
        <div id="links">
            <a class="nav" href="index.html">New note</a>
            <a class="nav" href="index.html#/notes">View notes</a>
        </div>
    </nav>
    
    <body>
        <div id="view">
        </div>
    </body>
    <footer>
        
    </footer>
</html>
